<!DOCTYPE html>
html(lang="en")
  head
    title Przeprogramowani Platform
    link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
    block customHead
  body

    style.
      * { box-sizing: border-box; }
      html, body { margin: 0; padding: 0; font-family: 'Lato', sans-serif; }

  block customBody