extends _layout

block customHead
  link(rel="stylesheet", href="/statics/styles.mobile.css")

block customBody
  
  header
    nav
      ul
        li
          a(href="#") Home
        li
          a(href="#") Profile
        li
          a(href="#") Settings

  script(src="/statics/feature-1.js")